<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeownersMS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/GLobalstyle.css">
    <style>
    body {  
        /* Ensure Full Viewport Height */
        height: 100vh;
        min-width: 360px;
        margin: 0;
        padding: 0;

        /* Flexbox for Centering Content */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Responsive Typography */
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;

        background-image: url('../images/HomeOwners_bgc.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #logo {
        max-width: 100px;
        height: auto;
    }
    .bg-colorr {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    </style>
</head>

<body>
    <!-- Render the Sidebar section if it exists -->
    @if (IsSectionDefined("Sidebar"))
    {
        @RenderSection("Sidebar", required: false)
    }

    <div class="container bg-colorr">
        <img src="~/images/Housing_Logo.png" alt="Logo" class="img-fluid" id="logo" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/SideNavjs.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>