@page
@model HomeownersMS.Pages_Admin_FacilityRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FacilityRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacilityRequest.FacilityRequestId" />
            <div class="form-group">
                <label asp-for="FacilityRequest.ReservationDate" class="control-label"></label>
                <input asp-for="FacilityRequest.ReservationDate" class="form-control" />
                <span asp-validation-for="FacilityRequest.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityRequest.ReservationTime" class="control-label"></label>
                <input asp-for="FacilityRequest.ReservationTime" class="form-control" />
                <span asp-validation-for="FacilityRequest.ReservationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityRequest.RequestCompletionDate" class="control-label"></label>
                <input asp-for="FacilityRequest.RequestCompletionDate" class="form-control" />
                <span asp-validation-for="FacilityRequest.RequestCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityRequest.Status" class="control-label"></label>
                <input asp-for="FacilityRequest.Status" class="form-control" />
                <span asp-validation-for="FacilityRequest.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityRequest.ResidentId" class="control-label"></label>
                <select asp-for="FacilityRequest.ResidentId" class="form-control" asp-items="ViewBag.ResidentId"></select>
                <span asp-validation-for="FacilityRequest.ResidentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityRequest.FacilityId" class="control-label"></label>
                <select asp-for="FacilityRequest.FacilityId" class="form-control" asp-items="ViewBag.FacilityId"></select>
                <span asp-validation-for="FacilityRequest.FacilityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FacilityRequest.FullName" class="control-label"></label>
                <input asp-for="FacilityRequest.FullName" class="form-control" />
                <span asp-validation-for="FacilityRequest.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FacilityRequest.EmailAddress" class="control-label"></label>
                <input asp-for="FacilityRequest.EmailAddress" class="form-control" />
                <span asp-validation-for="FacilityRequest.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FacilityRequest.PhoneNumber" class="control-label"></label>
                <input asp-for="FacilityRequest.PhoneNumber" class="form-control" />
                <span asp-validation-for="FacilityRequest.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

