@page
@model HomeownersMS.Pages_Admin_Admins.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["HeaderTitle"] = "User Management";
    ViewData["Title"] = "Edit Admin";
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
    ViewData["CurrentPage"] = ViewContext.RouteData.Values["page"]?.ToString();
}

<h1>Edit</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Admin.UserId" />
            <div class="form-group">
                <label asp-for="Admin.LName" class="control-label"></label>
                <input asp-for="Admin.LName" class="form-control" />
                <span asp-validation-for="Admin.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.FName" class="control-label"></label>
                <input asp-for="Admin.FName" class="form-control" />
                <span asp-validation-for="Admin.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Email" class="control-label"></label>
                <input asp-for="Admin.Email" class="form-control" />
                <span asp-validation-for="Admin.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.ContactNo" class="control-label"></label>
                <input asp-for="Admin.ContactNo" class="form-control" />
                <span asp-validation-for="Admin.ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Job" class="control-label"></label>
                <input asp-for="Admin.Job" class="form-control" />
                <span asp-validation-for="Admin.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.HireDate" class="control-label"></label>
                <input asp-for="Admin.HireDate" class="form-control" />
                <span asp-validation-for="Admin.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

