@page
@model HomeownersMS.Pages_Admin_Services.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["HeaderTitle"] = "Services Management";
    ViewData["Title"] = "Services Creation";
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
    ViewData["CurrentPage"] = currentPage;
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.Title" class="control-label"></label>
                <input asp-for="Service.Title" class="form-control" required/>
                <span asp-validation-for="Service.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Description" class="control-label"></label>
                <input asp-for="Service.Description" class="form-control" required/>
                <span asp-validation-for="Service.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceCategory" class="control-label"></label>
                <input asp-for="Service.ServiceCategory" class="form-control" required/>
                <span asp-validation-for="Service.ServiceCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.DayRange" class="control-label"></label>
                <input asp-for="Service.DayRange" class="form-control" required/>
                <span asp-validation-for="Service.DayRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.AvailableTimeStart" class="control-label"></label>
                <input asp-for="Service.AvailableTimeStart" class="form-control" type="time" required/>
                <span asp-validation-for="Service.AvailableTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.AvailableTimeEnd" class="control-label"></label>
                <input asp-for="Service.AvailableTimeEnd" class="form-control" type="time" required/>
                <span asp-validation-for="Service.AvailableTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

