/*----------------------------- HEADER -----------------------------*/
.headerPage {
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1002;

    display: flex;
    justify-content: space-between; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    
    padding: 16px;
    color: #fff;
    background-color: var(--bs-primary);

    margin: 0;
}


/*----------------------------- HEADER CONTENT STYLES -----------------------------*/

.headerPage h4 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Ensure text is centered */
    flex-grow: 1; /* Allow the title to take up available space */
}

.headerPage h2 {
    font-size: calc(var(--bs-body-font-size) * 1.7);
}


/* the bi-list button */
.sideNav_toggleBtn {
    color: #fff;
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Show pointer cursor on hover */
}

.sideNav_toggleBtn:hover {
    color: var(--bs-secondary); /* Change color on hover */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.sideNav_toggleBtn {
    font-size: calc(var(--bs-body-font-size) * 1.4);
}

.secondary-on-hover:hover {
    color: var(--bs-secondary) !important;
}

.bell-icon {
    position: relative;
    font-size: calc(var(--bs-body-font-size) * 1.4);
}
.bell-icon #unreadCount {
    position: absolute;
    top: -2px;
    right: -7px;
    font-size: calc(var(--bs-body-font-size) * 0.6);
    color: white;
    border: 2px solid var(--bs-primary);
}