@page
@using System.Security.Claims
@model HomeownersMS.Pages.Dashboard.IndexStaffModel
@{
    Layout = "_StaffLayout"; // Use the Admin layout
    ViewData["HeaderTitle"] = "Dashboard";
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <h1>test staff</h1>
</div>